In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./atusact_2017.dat",sep=",")

In [3]:
df.head()

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUDURSTOP,TUEC24,TUSTARTTIM,TUSTOPTIME,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
0,20170101170002,1,-1,0,-1,0,-1,-1,-1,-1,...,2,-1,04:00:00,05:30:00,1,1,1,10101,101,0
1,20170101170002,2,-1,0,-1,0,-1,-1,-1,-1,...,1,-1,05:30:00,06:00:00,1,2,1,10201,102,0
2,20170101170002,3,12,0,-1,0,-1,-1,-1,-1,...,1,-1,06:00:00,06:15:00,18,5,1,180501,1805,0
3,20170101170002,4,2,0,-1,0,-1,-1,-1,-1,...,1,-1,06:15:00,06:30:00,5,1,4,50104,501,0
4,20170101170002,5,2,0,-1,0,-1,-1,-1,-1,...,2,-1,06:30:00,09:00:00,5,1,1,50101,501,0

In [7]:
activity_codes = {
    "01":" Personal Care",
    "02":" Household Activities",
    "03":" Caring For & Helping Household Members",
    "04":"Caring For & Helping NonHH Members",
    "05": "Work & Work-Related Activities",
    "06":" Education",
    "07":" Consumer Purchases",
    "08":" Professional & Personal Care Services",
    "09":" Household Services",
    "10":" Government Services & Civic Obligations",
    "11":" Eating and Drinking",
    "12": "Socializing, Relaxing, and Leisure",
    "13": "Sports, Exercise, and Recreation",
    "14":" Religious and Spiritual Activities",
    "15":" Volunteer Activities",
    "16":" Telephone Calls",
    "18":" Traveling ",
}

In [8]:
unique = df["TUCASEID"].unique()[:100]

In [9]:
len(unique)

100

In [13]:
df = df[df['TUCASEID'].isin(unique)]

In [19]:
df = df.loc[:,['TUCASEID','TUSTARTTIM','TUSTOPTIME','TUTIER1CODE','TUACTIVITY_N']]

In [32]:
df["start_minute"] = pd.to_datetime(df['TUSTARTTIM'], format='%H:%M:%S').dt.hour *60 + pd.to_datetime(df['TUSTARTTIM'], format='%H:%M:%S').dt.minute

In [33]:
df["stop_minute"] = pd.to_datetime(df['TUSTOPTIME'], format='%H:%M:%S').dt.hour *60 + pd.to_datetime(df['TUSTOPTIME'], format='%H:%M:%S').dt.minute

In [35]:
df = df.loc[:,['TUCASEID','start_minute','stop_minute','TUTIER1CODE',,'TUACTIVITY_N']]

            TUCASEID  start_minute  stop_minute  TUTIER1CODE
0     20170101170002           240          330            1
1     20170101170002           330          360            1
2     20170101170002           360          375           18
3     20170101170002           375          390            5
4     20170101170002           390          540            5
5     20170101170002           540          570           11
6     20170101170002           570          870            5
7     20170101170002           870          900           12
8     20170101170002           900          915           18
9     20170101170002           915          918            3
10    20170101170002           918          921           18
11    20170101170002           921          966            2
12    20170101170002           966          996           11
13    20170101170002           996         1006            2
14    20170101170002          1006         1021            1
15    20170101170002          1021         1035           12
16    20170101170002          1035            0            1
17    20170101170002             0            7            1
18    20170101170002             7          330            1
19    20170101170012           240          420            1
20    20170101170012           420          480            2
21    20170101170012           480          525           11
22    20170101170012           525          555            1
23    20170101170012           555          585            3
24    20170101170012           585          595           18
25    20170101170012           595          625            7
26    20170101170012           625          635           18
27    20170101170012           635          640            2
28    20170101170012           640          641           18
29    20170101170012           641          761            2
...              ...           ...          ...          ...
2031  20170101171491           840          960           12
2032  20170101171491           960         1080           50
2033  20170101171491          1080         1110           11
2034  20170101171491          1110         1350           12
2035  20170101171491          1350          420            1
2036  20170101171513           240          300            1
2037  20170101171513           300          390           50
2038  20170101171513           390          420            2
2039  20170101171513           420          510            2
2040  20170101171513           510          540           13
2041  20170101171513           540          570            2
2042  20170101171513           570          600            1
2043  20170101171513           600          630            2
2044  20170101171513           630          690            2
2045  20170101171513           690          720           11
2046  20170101171513           720          725           18
2047  20170101171513           725          730            8
2048  20170101171513           730          735           18
2049  20170101171513           735          795            8
2050  20170101171513           795          810           18
2051  20170101171513           810          825           16
2052  20170101171513           825          900           15
2053  20170101171513           900          910           18
2054  20170101171513           910          975           11
2055  20170101171513           975          990           18
2056  20170101171513           990          995            2
2057  20170101171513           995         1020            2
2058  20170101171513          1020         1110           12
2059  20170101171513          1110         1200           50
2060  20170101171513          1200          300            1

[2061 rows x 4 columns]